PORT=3000

GEMINI_API_KEY=""
GEMINI_MODEL="gemini-3-flash-preview" #the model to use
MODEL_INSTRUCTIONS="model_instructions.txt" #configuration prompt/instructions

PROMPT_LOGS=false #log each prompt and response in the console?

